/target
**/*.rs.bk

/.idea
/.zed
/.codex
/.cursor
/.gemini
token.json

/Broadcaster
/go-nethernet
/go-playfab
nethernet.go
playerdata/
worlds/


/vanillagen
/java-source
/cubiomes

# Auto Claude data directory
.auto-claude/

/java-ed-world
/dragonfly